<p style="color: green"><%= notice %></p>
<p style="color: red"><%= flash[:alert] %></p>
<h1>ログイン</h1>

<%= form_with url: session_path, scope: :session do |f| %>
  <div>
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>

  <div>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <%= f.submit 'ログイン' %>
<% end %>